<section class="text-center">
    <div class="container" data-bind="slideVisible: activeStep() === 1">
        <div class="row">
            <div class="col-lg-12">
                <h1>Who Are You?</h1>
            </div>
        </div>
        <div class="row">
            <div data-bind="counterPanel: { dotnet: true, javascript: false }"></div>
        </div>
    </div>
    <div class="container" data-bind="slideVisible: activeStep() === 2">
        <div class="row">
            <div class="col-lg-12">
                <h1 data-bind="click: showWerner">My Name Is My Passport, Verify Me</h1>
            </div>
        </div>
        <div class="row" data-bind="fadeVisible: wernerVisible, click: hideWerner">
            <div class="col-lg-12">
                <img src="/css/images/Tobolowsky.png" alt="">
            </div>
        </div>
        <div class="row bg-success">
            <div class="col-lg-2 bg-success">
                <h2 style="vertical-align: middle">
                    <i class="fa fa-lock fa-4x"></i>
                </h2>
            </div>
            <div class="col-lg-10">
                <h2>DurandalAuth</h2>
                <ul class="list-unstyled">
                    <li><a href="http://durandalauth.azurewebsites.net" target="_blank">http://durandalauth.azurewebsites.net</a>
                    </li>
                    <li><a href="https://github.com/yagopv/durandalauth" target="_blank">https://github.com/yagopv/durandalauth</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" data-bind="slideVisible: activeStep() === 3">
        <div class="row">
            <div class="col-lg-12">
                <h1>My Name Is My Passport, Verify Me</h1>
            </div>
        </div>
        <div class="row bg-warning">
            <div class="col-lg-10">
                <h2>Roll Your Own</h2>
                <ul class="list-unstyled">
                    <li>Utilize your REST API</li>
                    <li>Tokenize all of your data calls</li>
                </ul>
            </div>
            <div class="col-lg-2 bg-warning">
                <h2>
                    <i class="fa fa-4x fa-shield"></i>
                </h2>
            </div>
        </div>
    </div>
    <br/>

    <div class="container">
        <div class="row">
            <button class="btn btn-primary" data-bind="click: nextStep"><i class="fa fa-arrow-right"></i>&nbsp;Moving
                On...
            </button>
        </div>
    </div>
</section>
