<div class="row" data-bind="click: forward">
    <div class="col-lg-12">
        <h3>
            Use the power of Require.js throughout your app
            <ul class="list-unstyled">
                <li data-bind="fadeVisible: activeStep() > 1">Require everything (even jQuery/Knockout)</li>
                <li data-bind="fadeVisible: activeStep() > 2">Improves/enables testability</li>
                <li data-bind="fadeVisible: activeStep() > 3">Shim non-AMD javascript</li>
            </ul>
        </h3>
    </div>
</div>
