<div class="row" data-bind="click: forward">
    <div class="col-lg-12">
        <h3>
            <ul class="list-unstyled">
                <li>Consider changing project layout, override conventions</li>
                <li data-bind="fadeVisible: activeStep() > 1">
                    Move API calls functions into common apiService
                </li>
                <li data-bind="fadeVisible: activeStep() > 2">
                    Extract business objects from viewmodels
                </li>
            </ul>
        </h3>
    </div>
</div>
