<section class="text-center">
    <div class="row" data-bind="click: showTresta">
        <div class="col-lg-12">
            <h1>What I Do</h1>
        </div>
    </div>
    <div id="tresta" class="row text-center" data-bind="fadeVisible: tresta, click: showAvatar ">
        <div class="col-lg-12">
            <img src="/css/images/logo-large.png" alt="Tresta Logo" />
            <h2>Senior Software Developer for PATLive on the Tresta Team</h2>
            <h3>Tresta is a new cloud communication platform built on:
                <ul class="col-lg-offset-4 col-lg-4 text-left">
                    <li>Durandal</li>
                    <li>Erlang</li>
                    <li>CouchDB</li>
                    <li>NodeJS</li>
                    <li>RabbitMQ</li>
                    <li>Puppet</li>
                </ul>
            </h3>

        </div>
    </div>
    <br />
    <div id="avatar" class="row text-center" data-bind="fadeVisible: avatar, click: showiTeres">
        <div class="col-lg-12">
            <img src="/css/images/Avatar-Logo-No-Tag.png" alt="Avatar Logo" />
            <h2>Remote Part-Time Consultant for Avatar Software</h2>
            <h3>While at Avatar, I have helped build the following Durandal apps:
                <ul class="col-lg-offset-4 col-lg-4 text-left">
                    <li>SmartSoft PsychDX</li>
                    <li>Vanguard/Tenet Control Panel</li>
                    <li>Avatar Web Site (avatar-soft.com)</li>
                </ul>
            </h3>
        </div>
    </div>
    <br />
    <div id="iTeres" class="row text-center" data-bind="fadeVisible: iTeres, click: next">
        <div class="col-lg-12">
            <img src="/css/images/iteres-logo-250.png" alt="iTeres Logo" />
            <h2>Freelance Durandal Developer - iTeres Group</h2>
            <h3>Responsible for maintaining and developing Rainmaker App</h3>
        </div>
    </div>
</section>