<section>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Who Am I?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 bg-primary">
                <h2 data-bind="click: showStep1">Contact Me</h2>
                <ul data-bind="fadeVisible: step1Visible" class="list-unstyled text-left">
                    <li>
                        <h3>
                            <button class="btn btn-default">
                                <i class="fa fa-envelope fa-2x"></i>
                            </button>
                            &nbsp;riceboyler@outlook.com
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <button class="btn btn-default"><i class="fa fa-twitter fa-2x"></i>
                            </button>
                            &nbsp;@riceboyler
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <button class="btn btn-default">
                                <i class="fa fa-facebook fa-2x"></i>
                            </button>
                            &nbsp;facebook.com/riceboyler
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <button class="btn btn-default">
                                <i class="fa fa-github fa-2x"></i>
                            </button>
                            &nbsp;github.com/riceboyler
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h2 data-bind="click: showStep2">Background</h2>
                <div data-bind="fadeVisible: step2">
                    <ul class="list-unstyled text-left">
                        <li>
                            <h3>devLink Volunteer/Board Member since 2007</h3>
                            <h3>Software Developer for 12 years</h3>
                            <h3>Worked primarily with Durandal for last 18 months</h3>
                            <h3>Lived in Nashville area until 6 weeks ago</h3>
                            <h3>Now in Tallahassee, FL, not an FSU fan...</h3>
                        </li>
                    </ul>
                    <img src="/css/images/nofsu.jpg" />
                </div>

            </div>
            <div class="col-lg-4 bg-primary">
                <h2 data-bind="click: showStep3">Hobbies</h2>
                <ul data-bind="fadeVisible: step3" class="list-unstyled text-left">
                    <h3>Family - 3 kids</h3>
                    <h3>Cars, especially boosted ones</h3>
                    <h3>Church, I'm a Mormon (yes I am!)</h3>
                    <h3>Gaming - Gamertag: riceboyler</h3>
                </ul>
            </div>
        </div>
        <br />
        <div class="row" data-bind="fadeVisible: step3">
            <button class="btn btn-primary btn-lg" data-bind="click: next">What I Do&nbsp;<i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
