<section class="text-center">
    <div class="container">
        <div class="row">
            <h1>Widgets</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3><i>Widgets</i> are pieces of reusable data-bound markup, featuring independent views/viewmodels. They are very similar to Angular directives, and are inspired by the future technology of Web Components.</h3>

                <br />

                <h3>KnockoutJS actually introduced the component binding in version 3.2 (which came out a few weeks ago), which in many ways supercedes widgets.</h3>

                <br />
                <h3>
                    <ul class="list-unstyled">
                        <li><a href="http://durandaljs.com/documentation/Creating-A-Widget" target="_blank">http://durandaljs.com/documentation/Creating-A-Widget</a>
                        </li>
                        <li><a href="http://webcomponents.org/" target="_blank">http://webcomponents.org/</a>
                        </li>
                        <li><a href="http://knockoutjs.com/documentation/component-overview.html" target="_blank">http://knockoutjs.com/documentation/component-overview.html</a>
                        </li>
                    </ul>
                </h3>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-lg" data-bind="click: next"><i class="fa fa-road"></i>&nbsp;Go Down I-75
            </button>
        </div>
    </div>
</section>
